<app-navbar></app-navbar>

    <!-- Page Layout here -->
    <div class="row deplace">

        <div class="col s3">
            <app-infos></app-infos>
            
        </div>
  
        <div class="col s9">
          <div class="nom"><P>NDENGUE CLAUDE</P></div>
          <div class="adresse"><p>current addresse : <br> blablacar <br>blablacar</p></div>
          
            <br> <div class="titre">Objectif :</div> 
            <div class="curri">
              <ul>
                  <li>j'aspire a etre un ingenieur en robotiqque et conception d'un logiciel d'exploitation dans le but d'etre toujours plus pret de la pointe qui lie hardward et software</li>
                  <li>blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar</li>
                  <li>blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar</li>
                  <li>blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar</li>
              </ul>
            </div>

            <br><br> advance rental payment: s 1700
            <br><br> <div class="titre">Employement</div>    
            <div class="curri">
                    <ul>
                    <li>blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar</li>
                    <li>blablabcar blablabcar blablabcar blablabcar</li>
                    <li>blablabcar blablabcar blablabcar blablabcar</li>
                    <li>blablabcar blablabcar blablabcar blablabcar</li>
                    </ul>
                  </div> 
            <br><br> <div class="titre">RENTAL HISTORY</div> 
            <div class="curri">
            <ul>
                                    <li>blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar blablabcar</li>
                                    <li>blablabcar blablabcar blablabcar blablabcar</li>
                                    <li>blablabcar blablabcar blablabcar blablabcar</li>
                                    <li>blablabcar blablabcar blablabcar blablabcar</li>
                                    </ul>
            </div>
            <br><br> ADDITIONAL DOCUMENTS
            <br>     QVQILQBLE UPON REQUEST


        </div>
  
    </div>
